TFTP_SERVER = '127.0.0.1'
TFTP_SERVER2 = '10.20.30.77'
USERNAME = 'username'
PASSWORD = 'password'
SWITCHES_FILE = 'switches.cfg'
SNMP_COMMUNITY = 'public'
SERVICE_SSH_PORT = 22
SERVICE_TELNET_PORT = 23
SERVICE_TFTP_PORT = 161
LOG_FILE = '/var/log/switch_backup.log'
USERNAME_AT = 'username'
PASSWORD_AT = 'password'
USERNAME_HP =  'username'
PASSWORD_HP =  'password'
LOGGING_LEVEL = 'INFO'
TFTP_SERVERS = [TFTP_SERVER, TFTP_SERVER2]
SNMP_GET_COMMAND = '/usr/bin/snmpget'
